/* Ensures App component takes full viewport height */
.App {
  display: flex;
  height: 100vh;
}

.sidebar {
  background-color: #282c34;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  height: 100%;
  color: white;
}

.logo {
  font-size: 24px;
  text-align: center;
  line-height: 1.4;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}

.menu li {
  margin: 10px 0;
  width: 100%;
  text-align: center;
}

.menu li a {
  color: #61dafb;
  text-decoration: none;
  font-size: 18px;
  display: block;
  padding: 8px 0;
  transition: color 0.3s ease;
}

.menu li a:hover {
  color: #ffffff;
}

.content {
 
  padding: 20px;
  text-align: center;
}

.content h1 {
  font-size: 2em;
  color: #282c34;
}

.content p {
  font-size: 1.2em;
  color: #666;
}
