/* Gallery.css */

.gallery-page {
  padding: 2% 5%;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh; /* Set the height to 100% of the viewport */
  overflow-y: auto; /* Enable vertical scrolling */
}

.gallery-title {
  text-align: left;
  margin-bottom: 1.5rem;
}

.gallery-title::after {
  content: "";
  display: inline-block;
  width: 3rem; /* Adjust line length */
  height: 0.15rem; /* Line thickness */
  background-color: #e82574; /* Line color */
  position: relative;
  top: -52%;
  left: 14%;
  transform: translateY(-50%);
}

.gallery-title h4 {
  font-size: 1.5rem;
  color: #646464;
  font-weight: bold;
}

.gallery-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Set 4 images per row */
  grid-gap: 0.5rem; /* Space between images */
  grid-auto-rows: 18rem; /* All images have the same row height */
}

.image-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Specific placement for images to align properly */
.ayodhya {
  grid-column: span 2;
  grid-row: span 2;
}

.baranti {
  grid-column: span 1;
  grid-row: span 2;
}

.flower {
  grid-column: span 1;
  grid-row: span 2;
}

.out {
  grid-column: span 1;
  grid-row: span 2; /* Ensures it remains in place without breaking rows */
}

.palash {
  grid-column: span 2;
  grid-row: span 1;
}

.recep {
  grid-column: span 1;
  grid-row: span 2;
}

.mithonDam {
  grid-column: span 1;
  grid-row: span 1;
}

.small {
  grid-column: span 1;
  grid-row: span 1;
}

.large {
  grid-column: span 2;
  grid-row: span 1;
}

.room1 {
  grid-column: span 2;
  grid-row: span 1;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .gallery-images {
    grid-template-columns: repeat(2, 1fr); /* 2 images per row on smaller screens */
    grid-auto-rows: 120px; /* Adjust row height */
  }

  .gallery-title h4 {
    font-size: 1.2rem; /* Adjust font size */
  }
}
